<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Product Management</h3>
<p>
    <a th:href="@{/product/create}">
        Add new song
    </a>
</p>
<table id = "songs">
    <thead>
    <tr>
        <th>STT</th>
        <th>Artist</th>
        <th>Type</th>
        <th>URL</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song,songStat : ${songs}">
        <td th:text="${songStat.count}"></td>
        <td th:text="${song.artist}"></td>
        <td th:text="${song.type.name}"></td>
        <td>
            <a th:value="${song.url}"></a>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>